<app-breadcrumb
  [elements]="[{ label: data.name, url: '/category/' + data._id }]"
></app-breadcrumb>
<h1 class="font-bold font-enphasis text-4xl">
  {{ data.name }}
  <app-status-chip [isActive]="data.isActive"></app-status-chip>
</h1>
<a class="text-sm mt-[-18px] w-fit text-accent underline hover:cursor-pointer"
  >{{ data.isActive ? "Desactivar" : "Activar" }} esta categoría</a
>
<p>{{ data.description }}</p>
@if (data.subcategories.length > 0) {
<app-button class="self-center">
  <svg-icon name="category-plus" svgClass="w-5 h-5 mr-2" />
  Añadir subcategoría
</app-button>
@for (sub of data.subcategories; track sub._id) {
<a [routerLink]="['/category', data._id, sub._id]">
  <app-category-card [category]="sub"></app-category-card>
</a>
} } @else {
<p class="bg-background-600 py-3 px-6 rounded-md text-center">
  No hay subcategorías,
  <a
    class="hover:underline hover:cursor-pointer font-bold hover:text-primary transition-colors"
    >agrega una</a
  >
</p>
}
